<div class="jumbotron">
    <p class="lead">S.I.C ou Système d'Informations Commerciales : Collecte, Analyse et diffusion de l'information en interne</p>
    <p><img src="~/Content/b1g1.jpg" class="img-responsive img-rounded"/></p>
    <p>Pour être plus efficace c’est-à-dire prendre les bonnes décisions au bon moment, les entreprises ont besoin de disposer d’informations de qualité (pertinente, fiable, précise et récente). De plus, cette information doit être analysée, stockée, actualisée et pouvoir être mise à disposition des différents acteurs de l’entreprise lorsque c’est nécessaire.</p>
</div>

